[submodule "lit-ssr"]
	path = lit-ssr
	url = https://github.com/PolymerLabs/lit-ssr.git
[submodule "lit-html"]
	path = lit-html
	url = https://github.com/Polymer/lit-html.git
	branch = hydration
[submodule "lit-element"]
	path = lit-element
	url = https://github.com/Polymer/lit-element.git
	branch = hydration
[submodule "template-attach-shadow"]
	path = template-attach-shadow
	url = https://github.com/webcomponents/template-attach-shadow.git
